

.login-container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}


.login-form {
  width: 50%;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
}

.login-form h2 {
  color: #333;
  margin-bottom: 20px;
  font-weight: bold;
}

.login-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #eaeaea;
}

.login-button {
  background-color: #8c13f9;
  color: #fff;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
}

.login-button:hover {
  background-color: #6a0dab;
}

.register-link {
  color: #8c13f9;
  text-decoration: none;
  margin-top: 15px;
}

.register-link:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
  margin-top: 10px;
  font-weight: bold;
}


.login-banner {
  width: 50%;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner-image {
  width: 150px;
  margin-bottom: 20px;
}

.login-banner h1 {
  font-size: 2rem;
  margin-top: 20px;
}

.highlight {
  color: #ff0000;
}
