.customer-reviews {
    text-align: center;
    padding: 20px;
}

.review-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.review {
    width: 150px;
    height: 150px;
    background-color: #555;
    border-radius: 8px;
}
